body{
    background-color: white;
    font-family: "Guayaba";
}

@font-face { font-family: Mouser; src: url('Mouser-RpeZo.ttf'); }
@font-face { font-family: Guayaba; src: url('GuayabaSansPersonalUse-AdLp.ttf'); }

h1{
    font-family: "Mouser";
    color: #0B2133;
    text-align-last: left;
    font-size: 50px;
    margin: 0;
    margin-left: 0%;
}