body{
    background-color: white;
    font-family: "Segoe UI Variable Small";
    color: #0B2133;
}

@font-face { font-family: Mouser; src: url('Mouser-RpeZo.ttf'); }


h1{
    font-family: "Mouser";
    color: #0B2133;
    text-align-last: left;
    font-size: 50px;
    margin: 0;
    margin-left: 0%;
}

.credits{
    align-self: first baseline;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100px;
}