#navbar-list{
    list-style-type: none;
    margin: 0;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 0;
    width: 15%;
    background-color: #0B2133;
    height: 78%; 
    position: fixed; 
    overflow: auto;
    border-radius: 25px
}

.navbar-item{
    display: block;
    color: white;
    padding: 8px 6px 8px 6px;
    text-decoration: none;
    text-align: center;
    padding: 25px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 20pt;
}

.navbar-item:hover{
    background-color: white;
    color: #0B2133;
    text-align: center;
    border: 5px solid #0B2133;
    border-radius: 25px; 
}

.currrent {
    background-color: #0B2133;
    color: white;
}